<project-header class="top-header"></project-header>
<project-page>

  <!-- Middle section -->
  <div class="middle-section">
    <div id="scrollable-content" class="middle-container has-scroll">
      <div class="middle-header header-light">
        <div class="container-fluid">
          <h1>My Backing Services</h1>
          <alerts alerts="alerts"></alerts>
        </div>
      </div><!-- /middle-header-->
      <div class="middle-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 gutter-top">
              <table class="table table-bordered table-hover table-mobile">
                <thead>
                <tr>
                  <th>实例名称</th>
                  <th>服务名称</th>
                  <th>创建时间</th>
                </tr>
                </thead>
                <tbody ng-if="(backingserviceinstances | hashSize) == 0">
                <tr><td colspan="5"><em>{{emptyMessage}}</em></td></tr>
                </tbody>
                <tbody ng-repeat="bsi in backingserviceinstances | orderObjectsByDate : true">
                <tr>
                  <td data-title="Instance Name">
                    <a ng-href="{{bsi | navigateResourceURL}}">{{bsi.metadata.name}}</a></td>
                  <td data-title="Backing Service Name">
                    <a ng-href="project/openshift/backingservices/{{bsi.spec.provisioning.backingservice_name}}">{{bsi.spec.provisioning.backingservice_name}}</a></td>
                  <td data-title="Created Time">
                    <relative-timestamp timestamp="bsi.metadata.creationTimestamp"></relative-timestamp>
                  </td>
                </tr>
                </tbody>
              </table>
            </div><!-- /col-* -->
          </div>
        </div>
      </div><!-- /middle-content -->
    </div><!-- /middle-container -->
  </div><!-- /middle-section -->
</project-page>
